<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<style>
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  </style>
  


<mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="profile-header-image"></div>
      <mat-card-title>IDRISSI HASSANI AZAMI Soufiane</mat-card-title>
      <mat-card-subtitle>Web developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C4D03AQH-8aKANXYPWg/profile-displayphoto-shrink_200_200/0/1638172433018?e=1660176000&v=beta&t=0Sc8swe4KOPRdnA1c3WX0TQik_OYSAzdHpB5lfJiwZw" alt="Photo of Soufiane">
    <mat-card-content>
      <p>
        Développeur FullStack .Net core Angular
      </p>
    </mat-card-content>
   <mat-card-actions>
     <button mat-stroked-button >Download CV (pdf format)    <span class="material-symbols-outlined">
      arrow_back
      </span></button>
   
    </mat-card-actions> 
  </mat-card>
